class = "btn-upload"

.{class}{
	color: #ffffff;
	background-color: #1087dd;
	border-color: rgba(0, 0, 0, 0.2);

	&--not-valid{
		background-color: #ffffff;
		border-color: #d73925;
		color: #d73925;

		&:hover{
			color: #ffffff;
			background-color: #1087dd;
			border-color: rgba(0, 0, 0, 0.2);
		}
	}
}