/*
 * CSS classes:
 *  - dndDragging        This class will be added to the element while the element is being
 *                      dragged. It will affect both the element you see while dragging and the
 *                      source element that stays at it's position. Do not try to hide the source
 *                      element with this class, because that will abort the drag operation.
 * - dndDraggingSource  This class will be added to the element after the drag operation was
 *                      started, meaning it only affects the original element that is still at
 *                      it's source position, and not the "element" that the user is dragging with
 *                      his mouse pointer.
 * - dndPlaceholder       When an element is dragged over the list, a new placeholder child
 *                        element will be added. This element is of type li and has the class
 *                        dndPlaceholder set. Alternatively, you can define your own placeholder
 *                        by creating a child element with dndPlaceholder class.
 * - dndDragover          Will be added to the list while an element is dragged over the list.
 */

class = drag-table;

.{class} {
  .dndPlaceholder{
    background-color #ddd;
  }
  .dndDraggingSource{
    display none;
  }

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

ul[dnd-list] {
  min-height: 42px;
  li{
    list-style-type: none;
    cursor: pointer;
    &:hover{
      opacity: 0.8;
    }
  }
}

ul[dnd-list].border-container{
  border: 1px solid #3c8dbc;
  border-radius: 3px;
  li{
    border: none;
  }
}