doctype html
html(ng-app='app')
  head
    meta(charset='utf-8')
    title(ng-bind='$root.pageTitle')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/vendor.css")
    link(rel="stylesheet" href="/css/app.css")
  body
    toast
    .full-relative(ui-view="")
    //script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr_5MQzNNITCeNP4EcPeUkT5lgf7LQTmM")
    script(src="/vendor.js")
    script(src="/app.js")