user-reset-password
  display block
  text-align center

  .mgr-validation-messages

    p
      font-size 15px

.reset-pass

  &__title
    font-size 15px
    font-weight 700
    text-transform uppercase
    margin 100px 0 20px

  &__text
    margin 0 0 27px

  &__group
    max-width 320px
    margin 0 auto 25px

  &__actions
    max-width 460px
    margin 0 auto

    .btn-fixed
      margin 10px 10px 0
